@import "tw-animate-css";
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;
  --background: #f4f4f4;
  --foreground: #242424;
  --card: #f9fafb;
  --card-foreground: #242424;
  --popover: #f9fafb;
  --popover-foreground: #242424;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #e5e7eb;
  --secondary-foreground: #2563eb;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #2563eb;
  --destructive: #ef4444;
  --border: #d1d5db;
  --input: #e5e7eb;
  --ring: #2563eb;
  --chart-1: #a5b4fc;
  --chart-2: #818cf8;
  --chart-3: #6366f1;
  --chart-4: #4f46e5;
  --chart-5: #4338ca;
  --sidebar: #ffffff;
  --sidebar-foreground: #242424;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f3f4f6;
  --sidebar-accent-foreground: #2563eb;
  --sidebar-border: #d1d5db;
  --sidebar-ring: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212;

    --background: #121212;
    --foreground: #f9fafb;
    --card: #1f2937;
    --card-foreground: #f9fafb;
    --popover: #1f2937;
    --popover-foreground: #f9fafb;
    --primary: #3b82f6;
    --primary-foreground: #f9fafb;
    --secondary: #374151;
    --secondary-foreground: #d1d5db;
    --muted: #374151;
    --muted-foreground: #9ca3af;
    --accent: #374151;
    --accent-foreground: #d1d5db;
    --destructive: #f87171;
    --border: #374151;
    --input: #4b5563;
    --ring: #3b82f6;
    --chart-1: #a5b4fc;
    --chart-2: #818cf8;
    --chart-3: #6366f1;
    --chart-4: #4f46e5;
    --chart-5: #4338ca;
    --sidebar: #1f2937;
    --sidebar-foreground: #f9fafb;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #f9fafb;
    --sidebar-accent: #374151;
    --sidebar-accent-foreground: #d1d5db;
    --sidebar-border: #374151;
    --sidebar-ring: #3b82f6;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* -------------------------------------------------------------------------- */
/*                                CUSTOM STYLES                               */
/* -------------------------------------------------------------------------- */

button {
  cursor: pointer;
}

.custom-hover:hover {
  background-color: #2563eb !important;
  color: #fff !important;
}
